<br/>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h3>Register</h3>
    <form action="/register" method="POST">
      <div class="card mb-3">
        <div class="card-header">
          User
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="firstName">
              First Name
              <span class="text-danger">*</span>
            </label>
            <input name="firstName"
              id="firstName"
              type="text"
              class="form-control {{#if firstName.error }} error-element {{/if}}"
              value="{{ firstName.value }}">
              {{#if firstName.error }}
                <p class="error-msg">{{{ firstName.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="lastName">
              Last Name
              <span class="text-danger">*</span>
            </label>
            <input name="lastName"
              id="lastName"
              type="text"
              class="form-control {{#if lastName.error }} error-element {{/if}}"
              value="{{ lastName.value }}">
              {{#if lastName.error }}
                <p class="error-msg">{{{ lastName.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="email">
              Email
              <span class="text-danger">*</span>
            </label>
            <input name="email"
              id="email"
              type="text"
              class="form-control {{#if email.error }} error-element {{/if}}"
              value="{{ email.value }}">
              {{#if email.error }}
                <p class="error-msg">{{{ email.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="password">
              Password
              <span class="text-danger">*</span>
            </label>
            <input name="password"
              id="password"
              type="password"
              class="form-control {{#if password.error }} error-element {{/if}}"
              value="{{ passwoed.value }}">
              {{#if password.error }}
                <p class="error-msg">{{{ password.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="confirmPassword">
              Confirm Password
              <span class="text-danger">*</span>
            </label>
            <input name="confirmPassword"
              id="confirmPassword"
              type="password"
              class="form-control {{#if confirmPassword.error }} error-element {{/if}}"
              value="{{ confirmPassword.value }}">
              {{#if confirmPassword.error }}
                <p class="error-msg">{{{ confirmPassword.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="role">
              User Role
              <span class="text-danger">*</span>
            </label>
            <select name="role"
              id="role"
              class="form-control {{#if role.error }} error-element {{/if}}"
              value="{{ role.value }}">
              <option value="">Select Role</option>
              <option value="technician">Technician</option>
              <option value="supervisor">Supervisor</option>
              <option value="manager">Manager</option>
              <option value="admin">Admin</option>
            </select>
            {{#if role.error }}
              <p class="error-msg">{{{ role.msg }}}</p>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          OAuth Client
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="clientId">
              Client ID
              <span class="text-danger">*</span>
            </label>
            <input name="clientId"
              id="clientId"
              type="text"
              class="form-control {{#if clientId.error }} error-element {{/if}}"
              value="{{ clientId.value }}">
              {{#if clientId.error }}
                <p class="error-msg">{{{ clientId.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="Client Secret">
              Client Secret
              <span class="text-danger">*</span>
            </label>
            <input name="clientSecret"
              id="clientSecret"
              type="text"
              class="form-control {{#if clientSecret.error }} error-element {{/if}}"
              value="{{ clientSecret.value }}">
              {{#if clientSecret.error }}
                <p class="error-msg">{{{ clientSecret.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="companyName">
              Company Name
              <span class="text-danger">*</span>
            </label>
            <input name="companyName"
              id="companyName"
              type="text"
              class="form-control {{#if companyName.error }} error-element {{/if}}"
              value="{{ companyName.value }}">
              {{#if companyName.error }}
                <p class="error-msg">{{{ companyName.msg }}}</p>
              {{/if}}
          </div>
          <div class="form-group">
            <label for="hostName">
              Host/Domain Name
              <span class="text-danger">*</span>
            </label>
            <input name="hostName"
              id="hostName"
              type="text"
              class="form-control {{#if hostName.error }} error-element {{/if}}"
              value="{{ hostName.value }}">
              {{#if hostName.error }}
                <p class="error-msg">{{{ hostName.msg }}}</p>
              {{/if}}
          </div>
        </div>
      </div>
      <div class="button-group">
        <button class="btn btn-primary">
          Create Account
        </button>
      </div>
    </form>
  </div>
</div>
